<section class="firstSection">
    <h1>soluciones activas para la toma de deciciones</h1>
    <p>Somos un grupo de personas que nos unimos para crear una entidad privada sin fines de lucro, armando propuestas para mejorar el pais</p>

    <div class="menuSection">
        <div class="itemSection">
            <p>Articulos</p>
            <button>Ver más</button>
        </div>
        <div class="itemSection">
            <p>Articulos</p>
            <button>Ver más</button>
        </div>
        <div class="itemSection">
            <p>Articulos</p>
            <button>Ver más</button>
        </div>
    </div>
</section>