<nav>
    <div class="logoAndText">
        <img src="" alt="themis observa logo">
        <p>THEMIS OBSERVA</p>
    </div>

    <ul class="menuItems">
        <li>Inicio</li>
        <li>Acerca de</li>
        <li>Propuestas</li>
        <li>FAQS</li>
    </ul>

    <button>Colaborar</button>
</nav>