<section class="infoSection">
    <h2>ACERCA DE <span>THEMIS OBSERVA</span></h2>
    <p><span>THEMIS OBSERVA</span> representa a una generación comprometida con la importancia de la política para el Bien Común. Este grupo de profesionales busca formarse en aspectos técnicos, éticos y políticos. Sus actividades, repaldadas por la conciencia social, buscan abordar la realidad política desde la recta razón, con la esperanza de fomentar un nuevo humanismo y una sociedad que valore la dignidad de cada individuo.</p>
    <button>Colabora</button>
</section>