<section>
    <h2>NUESTRAS PROPUESTAS</h2>
    <div class="cardsContainer">
        <div class="cardInfo">
            <img src="" alt="img1">
            <p>FORMACION DE DIRIGENTES</p>
            <P>Organizamos encuentros politicos de distintos partidos y asistimos a eventos realizados tanto en el interior como en el exterior, invitados por diversas instituciones y ONG. Fomentamos viajes de especializacion y participamos en misiones politicas y agendas de visitas internacionales</P>
        </div>
    </div>
    <div class="cardsContainer">
        <div class="cardInfo">
            <img src="" alt="img1">
            <p>ENCUENTROS FEDERALES</p>
            <P>Promovemos un conocimiento profundo de nuestro país a traves de viajes por las provincias, establecemos redes institucionales y desarrollamos cursos, conferencias y seminarios destinados a militantes politicos y sociales, estudiantes universitarios y dirigentes sindicales.</P>
        </div>
    </div>
    <div class="cardsContainer"> 
        <div class="cardInfo">
            <img src="" alt="img1">
            <p>CURSOS E INICIATIVAS DE FORMACION</p>
            <P>Impartimos conferencias, cursos y seminarios de formacion para dirigentes dirigidos a militantes politicos y sindicales, y tambien dirigidos a otros sectores. Ademas promovemos iniciativas de formacion civica mediante charlas, encuentros y propuestas.</P>
        </div>
    </div>
</section>